Repository sabanyelkenci/loruki-website, pull requests merged in 2021-02, with the labels that each got.

#4 add modifications to main readme
  README.md
Labels: documentation

#8 created a DevStrategy as a draft
  images/New Wireframe 1.png
  planning/development strategy.md
Labels: documentation

#10 add development strategy
  planning/development strategy.md
Labels: documentation

#11 add some modifications to the backlog
  planning/backlog.md
Labels: documentation

#26 adding homepage html and css
  images/cli.png
  images/cloud.png
  images/docs.png
  images/favicon.png
  images/logos/clojure.png
  images/logos/csharp.png
  images/logos/go.png
  images/logos/node.png
  images/logos/php.png
  images/logos/python.png
  images/logos/ruby.png
  images/logos/scala.png
  images/npm.png
  images/server.png
  images/server2.png
  index.html
  public/css/style.css
  public/css/utilities.css
Labels: CSS, html

#22 add header to index.html
  index.html
Labels: html

#23 add style to section header index.html
  public/css/style.css
  public/css/utilities.css
Labels: CSS

#24 add footer to index.html
  index.html
Labels: html

#25 add style.css and utilities.css
  public/css/style.css
  public/css/utilities.css
Labels: CSS
